---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: Gray;
$background-color: #252525;
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.greedy-nav a { color: silver; font-family: helvetica; }
.search__toggle { color: silver}
div {
    font-family: "Helvetica";
    color: LightGray;

}
p {
    font-family: "Helvetica";
    color: #B0B0B0;

}
h1 {
    font-family: Helvetica;
    color: LightGray;

}
h2 {
    font-family: "Helvetica";
    color: LightGray;

}
h3 {
    font-family: "Helvetica";
    color: LightGray;

}

.ivorytower{
    font-color: "Red";
}

// add custom CSS after this line, can override MM imports above
tr, td {
    border: 3px solid grey;
    border-collapse: collapse;
    border-spacing: 0;
}

